<div class="wrapper">
  <div class="container">
    <label class="customer-label mt-3 ml-2">Main</label>
    <div class="customer-main-btn mt-3">
      <div>
        <%= link_to "新規依頼作成", new_request_path, class: "customer-important-btn" %>
      </div>
      <div>
        <%= link_to "依頼状況", status_customer_path(current_customer.id), class: "customer-normal-btn" %>
      </div>
      <div>
        <a class="customer-normal-btn" href="#">完了案件</a>
      </div>
    </div>
  </div>
</div>
