<div class="wrapper">
  <div class="container mt-2">
    <%= link_to :back do %>
      <button class="btn btn-link">戻る</button>
    <% end %>
  </div>
  <!-- bloc-8 -->
  <div class="bloc l-bloc" id="bloc-8">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col">
          <h3 class="mg-md color-normal">
            <strong class="color-normal">初めての方へ</strong>
          </h3>
          <h3 class="mg-md color-normal">
            <span class="fa fa-pencil-alt color-normal"></span>案件の依頼をしよう
          </h3>
          <p class="color-normal">
            トップページの「依頼作成」ボタンより依頼内容をご依頼ください。投稿すると対応できるエンジニアから依頼のリクエストが届きます。<br>
          </p>
          <%= image_tag "manual3.png", class: "img-fluid mx-auto d-block lazyload", alt: "manual3" %>
          <p class="color-normal">
            お客様の依頼にリクエストの依頼が来ているかどうかは「依頼状況」よりご確認ください。<br>リクエストが来ている案件については、案件番号をクリックいただくことによって、どのエンジニアに依頼をするのか選択できるようになります。<br>どのエンジニアに依頼をするか確定すると、エンジニアにお客様のメールアドレスが共有されますので、エンジニアから連絡が来るまでお待ちください。<br>
          </p>
          <%= image_tag "manual4.png", class: "img-fluid mx-auto d-block lazyload", alt: "manual4" %>
          <p class="color-normal">
            案件が完了するとエンジニアから完了連絡が届くので、トップページの「完了案件」ボタンから対応したエンジニアの評価をお願いいたします。
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-8 END -->
</div>