body{
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO" !important;
}
* {
  color: #454839;
}

.wrapper {
  min-height: 100vh;
}

.face {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: left top;
}
.hidden {
  display: none;
}
.flash {
  font-size: 12px;
  color: white;
  background-color: red;
}

.table-th {
  color:#005ab3;
  background: #fff;
}
.table-td {
  border-bottom:1px dashed #999;
}
.table-th {
  border-top:2px solid #005ab3;
  border-bottom:2px solid #005ab3;
}

.devise-label {
  border-bottom: solid 3px #cce4ff;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.devise-label:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

.user-table {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}