/* engineer#index */
.engineer-label {
  color: #454839;
  font-size: 16px;
  position: relative;
  padding: 0 0 2px 32px;
}
.engineer-label:before, .engineer-label:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #005252;
  margin: auto;
}
.engineer-label:before {
  top: -6px;
  left: 0px;
  animation: spin 4s linear infinite;
}
.engineer-label:after {
  top: 6px;
  left: 6px;
  animation: spin 4s linear infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.engineer-main-btn {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.engineer-important-btn {
  display: inline-block;
  text-decoration: none !important;
  background: #AAAD9B;
  color: #FFF !important;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.engineer-important-btn:hover {
  background: #454839;
}

.engineer-normal-btn {
  display: inline-block;
  text-decoration: none !important;
  color: #454839 !important;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #454839;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}
.engineer-normal-btn:hover {
  background: #AAAD9B;
}
hr {
  color: #AAAD9B;
}


.engineer-menu {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.engineer-sub-btn {
  width: 98%;
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  text-decoration: none !important;
  color: #454839;
  transition: .4s;
}
.engineer-sub-btn:hover {
  background: #AAAD9B;
}
.engineer-sub-btn:before, .engineer-sub-btn:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.engineer-sub-btn:before {
  border-left: solid 1px #454839;
  border-top: solid 1px #454839;
  border-bottom: solid 1px #454839;
  left: 0;
}
.engineer-sub-btn:after {
  content: '';
  border-top: solid 1px #454839;
  border-right: solid 1px #454839;
  border-bottom: solid 1px #454839;
  right: 0;
}

/* engineer#accept */
.list-table {
  background: #EEF5CE;
  border-radius: 8px;
}

/* engineerの星部分 */
.star-actived {
  display: inline-block;
  width: 100px;
}
.rate-count {
  display: inline-block;
  line-height: 20px;
}
.rate-0 {
  position : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-0:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space: nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-0:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space: nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height: 1em;                     /* 高さを指定 */
  overflow: hidden;                     /* オーバーフロー部分は非表示 */
  width: 0px;        /* 評価★の幅 */
  content: "★★★★★";        /* ★の指定 */
}
.rate-1 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-1:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-1:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 10px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-2 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-2:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-2:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 20px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-3 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-3:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-3:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 30px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-4 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-4:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-4:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 40px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-5 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-5:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-5:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 50px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-6 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-6:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-6:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 60px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-7 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-7:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-7:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 70px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-8 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-8:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-8:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 90px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-9 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;    
}
.rate-9:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-9:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 90px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-10 {
  position   : relative;
  font-size: 20px;
  letter-spacing : 0px;
}
.rate-10:before{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #999999;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  content:"★★★★★";        /* ★の指定 */
}
.rate-10:after{
  position: absolute;                  /* 親要素を基準 */
  display: inline-block;               /* ブロック要素 */
  color: #ffc400;               /* ★の色 */
  white-space:nowrap;                  /* 改行不可 */
  top: 0;                              /* 上限より表示 */
  left: 0;                             /* 左端より表示 */
  line-height:1em;                     /* 高さを指定 */
  overflow:hidden;                     /* オーバーフロー部分は非表示 */
  width: 100px;        /* 評価★の幅 */
  content:"★★★★★";        /* ★の指定 */
}