/* request#index */
.request-list{
	border-style:solid;
	border-color:#DBDBDB!important;
	box-shadow:0px 5px 10px #DBDBDB;
	padding:10px 10px 10px 10px;
	border-radius:20px 20px 20px 20px;
	border-width:1px 1px 1px 1px;
}
.request-list-btn{
	background-color:#00CFCD !important;
	background-size:auto auto !important;
}

/* requests#show */
.request-infomation {
  background: #EEF5CE;
  border-radius: 8px;
}
.request-label {
  color: #454839;
  padding: 0 0.5em;
  margin-bottom: 0;
  background: transparent;
  border-left: solid 5px #00A2A3;
  font-size: 13px;
}
.request-text {
  font-size: 13px;
}
.request-table-th {
  width: 30%;
}

