.main {
  position: relative;
}
.main-image {
  width: 100%;
}
.main-title {
  font-family: Helvetica-Bold;
  font-size: 5vw;
  color: #AECA54;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.beginner-box {
  display: flex;
  justify-content: center;
}
.beginner-btn {
  text-align: center;
  width: 270px;
  background: #FFFFFF;
  border: 1px solid #00A2A3;
  border-radius: 8px;
}
.beginner-image {
  width: 24px;
}
.beginner-text {
  font-family: Helvetica-Bold;
  font-size: 18px;
  color: #F35683;
}
.main-btn {
  display: flex;
  justify-content: space-around;
}
.customer-btn {
  display: inline-block;
  width: 42vw;;
  line-height: 16vh;
  text-align: center;
  background: #AAAD9B;
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: HiraginoSans-W6;
  font-size: 2vw;
  color: #FFFFFF;
}
.engineer-btn {
  display: inline-block;
  text-align: center;
  width: 42vw;;
  line-height: 16vh;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: HiraginoSans-W6;
  font-size: 2vw;
  color: #454839;
}

.contents {
  display: flex;
  justify-content: space-around;
}
.left-contents {
  width: 42vw;;
  border: 1px solid #979797;
  border-radius: 8px;
}
.right-contents {
  width: 42vw;;
  border: 1px solid #979797;
  border-radius: 8px;
}