<p><%= @resource.email %>さん</p>

<p>いつもExceBridgeをご利用いただき有り難うございます。</p>
<p>パスワードのリセットを受け付けしましたので、下記リンク先よりパスワードの再設定をお願いいたします。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
